// ==============================
// Custom style
// 自定义样式
// ==============================
 
/* The .ib and .ibc classes included below contain the minimum
 * necessary CSS properties for icon display. Additional size,
 * transform, and animation styles are available in icon-blender.css
 * from https://github.com/icon-blender/icon-blender
 *
 * LICENSES
 * Material Design Icons: Open Font License
 * Raphael: MIT
 * Simple Icons: CC0 1.0
 * CoreUI Brands: CC BY 4.0
 */

 .ib::before,
 .ibc::before{
     display: inline-block;
     height: 1em;
     width: 1em;
     vertical-align: -.125em;
     content:'';
 }
 
 .ib::before{
     background: currentColor;
     mask-image: var(--url);
     mask-repeat: no-repeat;
     mask-position: center;
     -webkit-mask-image: var(--url);
     -webkit-mask-repeat: no-repeat;
     -webkit-mask-position: center;
 }
 
 .ibc::before{
     background-image: var(--url);
     background-size: contain;
     background-position: 50% 50%;
     background-repeat:no-repeat;
 }
 
 /* Html: <i class="ib mdi-baguette"></i> */
 .mdi-baguette{
     --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3e%3cpath d=%22M5 22c-1.32 0-1.85-2.36-1.96-3.3a5.56 5.56 0 0 1 .32-2.7a2.5 2.5 0 0 1 1.87-1.62c1.17-.2 2 .5 3.06.74a1.21 1.21 0 0 0 1.56-1.37C9.41 12.03 6.28 12 5 12c0-1.86 2.04-2.1 3.5-1.96a10.8 10.8 0 0 1 2.54.56c.5.17 1.08.6 1.63.56c.83-.07 1-.93.64-1.56C12.44 8.12 9.97 8 8.5 8c0-2 1.73-2.38 3.39-2.08a11.58 11.58 0 0 1 2.49.79c.51.22 1.12.64 1.68.45c1.44-.44-.06-1.98-.7-2.35a6.6 6.6 0 0 0-1.42-.58c-.54-.16-1.2-.1-.71-.73a5.13 5.13 0 0 1 2.73-1.24c1.89-.44 4.5-.52 4.96 1.86a5.3 5.3 0 0 1-.85 3.58a38.96 38.96 0 0 1-6.85 8.63a36.6 36.6 0 0 1-4.6 3.99C7.62 21.04 6.3 22 5 22z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }
 
 /* Html: <i class="ib raphael-vim"></i> */
 .raphael-vim{
     --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 32 32%22%3e%3cpath d=%22M25.012 10.44l4.57-4.645a.607.607 0 0 0 .174-.423V3.134a.605.605 0 0 0-.177-.427l-.605-.602a.592.592 0 0 0-.42-.177l-9.646-.086a.597.597 0 0 0-.5.257l-.603.86a.54.54 0 0 0-.076.154L15.588.958L13.94 2.624l-.446-.497a.6.6 0 0 0-.438-.2l-9.732-.17a.6.6 0 0 0-.437.175l-.603.603a.605.605 0 0 0-.177.427v2.325c0 .164.066.32.183.434l.657.636c.11.105.253.165.405.17l.285.006l.007 6.512L1.117 15.6l2.533 2.534l.008 8.084c0 .16.065.314.177.427l.86.86c.113.112.27.177.428.177h2.67c.16 0 .317-.064.43-.18l2.378-2.418l4.9 4.9l14.47-14.558l-4.958-4.986zM9.747 24.232L7.54 26.474H5.37l-.51-.51l-.006-6.624l-.008-7.515l-.006-5.882a.603.603 0 0 0-.588-.603l-.637-.014l-.304-.295V3.21l.245-.244l9.215.163l.32.353l.125.14v1.42l-.352.362h-.606c-.33 0-.6.266-.603.597l-.076 7.203c0 .244.142.463.366.56a.6.6 0 0 0 .657-.12l7.495-7.235a.612.612 0 0 0 .14-.66a.6.6 0 0 0-.56-.377h-.48l-.296-.38V3.497l.312-.445l9.083.082l.252.252v1.743l-4.39 4.458l-14.41 14.645z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }
 
 /* Html: <i class="ib simple-icons-godotengine"></i> */
 .simple-icons-godotengine{
     --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3e%3cpath d=%22M9.56.683c-1.096.244-2.181.583-3.199 1.095c.023.898.081 1.758.2 2.632c-.396.253-.81.47-1.179.766c-.375.288-.758.564-1.097.901a21.147 21.147 0 0 0-2.135-1.24C1.353 5.692.608 6.618 0 7.654c.458.74.936 1.435 1.452 2.094h.014v6.356c.012 0 .023 0 .035.003l3.896.376a.42.42 0 0 1 .378.39l.12 1.72l3.4.241l.234-1.587a.419.419 0 0 1 .415-.358h4.111c.208 0 .385.152.415.358l.234 1.587l3.4-.242l.12-1.72a.42.42 0 0 1 .377-.389l3.896-.376c.012 0 .023-.003.035-.003v-.507h.002V9.75h.014c.516-.66.994-1.353 1.452-2.094c-.608-1.036-1.354-1.961-2.151-2.82c-.74.372-1.457.793-2.135 1.242c-.34-.337-.721-.613-1.096-.901c-.37-.296-.785-.514-1.179-.767c.117-.874.175-1.734.2-2.632c-1.018-.512-2.102-.85-3.199-1.095a22.815 22.815 0 0 0-1.187 2.312a8.145 8.145 0 0 0-1.246-.099h-.016c-.417.005-.832.03-1.246.1A22.6 22.6 0 0 0 9.557.682zM6.476 9.989a2.349 2.349 0 1 1 .001 4.697a2.349 2.349 0 0 1 0-4.697zm11.05 0a2.349 2.349 0 1 1-.001 4.697a2.349 2.349 0 0 1 0-4.697zm-10.824.93a1.559 1.559 0 1 0 0 3.118a1.559 1.559 0 0 0 0-3.118zm10.598 0a1.558 1.558 0 1 0 0 3.116a1.558 1.558 0 0 0 0-3.116zM12 11.372c.417 0 .757.308.757.687v2.162c0 .38-.339.687-.757.687s-.756-.308-.756-.687V12.06c0-.379.339-.687.756-.687zm-10.54 5.574c.001.377.005.79.005.871c0 3.702 4.695 5.48 10.527 5.5h.014c5.832-.02 10.526-1.798 10.526-5.5c0-.084.005-.495.007-.87l-3.502.338l-.121 1.729a.421.421 0 0 1-.39.39l-4.18.296a.42.42 0 0 1-.416-.358l-.238-1.614h-3.386l-.238 1.614a.42.42 0 0 1-.445.357l-4.151-.296a.42.42 0 0 1-.39-.39l-.12-1.729l-3.504-.337z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }
 
 /* Html: <i class="ib cib-blender"></i> */
 .cib-blender{
     --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 32 32%22%3e%3cpath d=%22M16.683 17.62c.057-1.068.583-2.011 1.369-2.677a4.584 4.584 0 0 1 2.953-1.052c1.131 0 2.172.401 2.948 1.052c.787.667 1.307 1.609 1.369 2.677c.057 1.093-.38 2.115-1.156 2.869a4.519 4.519 0 0 1-3.161 1.251a4.54 4.54 0 0 1-3.172-1.251c-.771-.755-1.213-1.776-1.151-2.869zm-6.88 2.156c.004.417.14 1.229.337 1.864a9.796 9.796 0 0 0 2.125 3.672a11.006 11.006 0 0 0 3.713 2.672a11.964 11.964 0 0 0 4.881 1.011a11.956 11.956 0 0 0 4.88-1.025a11.15 11.15 0 0 0 3.713-2.683a9.927 9.927 0 0 0 2.12-3.683a9.265 9.265 0 0 0 .333-4.099a9.448 9.448 0 0 0-1.355-3.703a10.225 10.225 0 0 0-2.469-2.724l-10.02-7.699c-.656-.505-1.76-.5-2.479 0c-.729.511-.813 1.355-.168 1.891l4.168 3.391l-12.724.016c-1.053 0-2.057.687-2.261 1.563c-.203.885.505 1.62 1.599 1.624l6.443-.009l-11.541 8.853c-1.083.828-1.432 2.213-.749 3.084c.692.891 2.167.891 3.265.005l6.271-5.131s-.093.693-.083 1.109zm16.118 2.317c-1.296 1.319-3.104 2.068-5.061 2.068c-1.959.005-3.772-.735-5.063-2.047a6.034 6.034 0 0 1-1.381-2.167a5.719 5.719 0 0 1 .376-4.693a6.335 6.335 0 0 1 1.536-1.828c1.256-1.02 2.855-1.572 4.532-1.577c1.671 0 3.271.547 4.525 1.567a6.151 6.151 0 0 1 1.536 1.824c.391.697.631 1.473.699 2.276a5.589 5.589 0 0 1-.317 2.411a6.107 6.107 0 0 1-1.381 2.167z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }